/* General styles
  --------------------------------------------- */

body {
    font: 100% / 1.5 Sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/bgsky.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;

}

#bwmenu {
    width: 100%;
    height: 60px;
    top: 0;
    position: fixed;
    z-index: 100;
    background: url(../images/topbar.png) no-repeat center;
    background-size: cover;
    display: block;
}

#bwmenu h1 {
    display: none;
}

#bwmenu ul {
    list-style: none;
    word-spacing: 30px;
}

#bwmenu li {
    display: inline-block;
}

#bwmenu a {
    font-size: 18pt;
    color: white;
    text-decoration: none;
    font-weight: 200;
}

#bwmenu a:hover {
    color: #a53e4f;
    transition: 1s;
}

#playnow {
    margin: auto;
    width: 200px;
    height: 200px;
    display: block;

}
#playnow img{
    height: 200px;

}





.parallax {
    font-size: 200%;
}

/* centre the content in the parallax layers */
.title {
    text-align: center;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.title h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}


.title-right {
    text-align: center;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    z-index: 0;
}

#logo {
    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 600px;
}
 



/* Parallax base styles
  --------------------------------------------- */

.parallax {
    
    /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    -webkit-overflow-scrolling: touch;
    perspective: 300px;
}

.parallax__group {
    position: relative;
    height: 500px;
    /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 2;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-290px) scale(1);
    transform: translateZ(-270px) scale(2);
    z-index: 3;
    padding: 0;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-580px) scale(3);
    transform: translateZ(-580px) scale(3);
    z-index: 4;
}

.parallax__layer--landinglast {
    -webkit-transform: translateZ(-880px) scale(4);
    transform: translateZ(-780px) scale(4);
    z-index: 5;
}


/* Debugger styles - used to show the effect
  --------------------------------------------- */

.debug {
    position: fixed;
    top: 0;
    left: .5em;
    z-index: 999;
    background: rgba(0, 0, 0, .85);
    color: #fff;
    padding: .5em;
    border-radius: 0 0 5px 5px;
}

.debug-on .parallax__group {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
}

.debug-on .parallax__layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
}

.parallax__group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}



/* style the groups
  --------------------------------------------- */

#group1 {
    z-index: 2;
    /* slide over group 2 */
top: 2px;
}
#group1 .parallax__layer--landinglast{
    
}


#group1 .parallax__layer--deep {
    background-image: url(../images/treebg1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
   
}

#group1 .parallax__layer--back {
    background-image: url(../images/smoke1.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
   
}

#group1 .parallax__layer--base {
    background-image: url(../images/midbg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

#group1 .parallax__layer--fore {
    background-image: url(../images/treebg2.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    --webkit-transform: translateZ(-100px) scale(1.5);
    transform: translateZ(-100px) scale(1.5);
    background-size: cover;
  
}

#group1 #mainbug {
    position: absolute;
    max-width: 800px;
    top: 10%;
    left: 70%;   
    -webkit-animation: sway 6s 0.1s infinite alternate;
        cubic-bezier(0.455, 0.03, 0.515, 0.655);
}
#group1 #subbug {
    position: absolute;
    max-width: 400px;
    top: 10%;
    left: 20%;
    -webkit-animation: sway 6s 0.1s infinite alternate;
        cubic-bezier(0.455, 0.03, 0.515, 0.655);
}

@media only screen and (max-width:1024px) {
#group1 {
top: 3px;
}
#group1 #mainbug {
    position: absolute;
    top: 70%;
    left: 45%; 
    max-width: 500px;  
    -webkit-animation: sway 6s 0.1s infinite alternate;
        cubic-bezier(0.455, 0.03, 0.515, 0.655);
}
#group1 #subbug {
    position: absolute;
    top: 30%;
    left: 20%;
    max-width: 250px;
    -webkit-animation: sway 6s 0.1s infinite alternate;
        cubic-bezier(0.455, 0.03, 0.515, 0.655);
}

}


@media only screen and (min-width:1025px) and (max-width:2000px) {

#group1 #mainbug {
    position: absolute;
    top: 40%;
    left: 70%;  
    max-width: 600px;
    -webkit-animation: sway 6s 0.1s infinite alternate;
        cubic-bezier(0.455, 0.03, 0.515, 0.655);
}
#group1 #subbug {
    position: absolute;
    top: 30%;
    left: 20%;
    max-width: 300px;
    -webkit-animation: sway 6s 0.1s infinite alternate;
        cubic-bezier(0.455, 0.03, 0.515, 0.655);
}

}

#group2 {
    z-index: 3;
    /* slide under groups 1 and 3 */

}

#group2 .parallax__layer--base {

   margin-top: 1.5px;
   
    background-image: url(../images/aboutmidbg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

#group2 .parallax__layer--fore {
    margin: auto;
    text-align: center;
    color: white;

 display: flex;
  flex-direction: row;
  justify-content: center;
  
}

#group2 .parallax__layer--fore .left{

    margin-top: 12%;
    margin-right: 10%;
}

#group2 .parallax__layer--fore .right{

    margin-top: 12%;
}

#group2 .parallax__layer--fore img{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
}

@media only screen and (min-device-width:2200px) {
#group2 .parallax__layer--base {
    background-image: url(../images/aboutmidbg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}
}

@media only screen and (max-device-width:1024px) {

#group2 {
    z-index: 3;
    /* slide under groups 1 and 3 */
}

#group2 .parallax__layer--fore {
    margin: auto;
    text-align: center;
    color: white;
     display: block;
}

#group2 .parallax__layer--fore img{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;

}

#group2 .parallax__layer--fore .left{
    margin-top: 25%;
    margin-right: 0%;
}

#group2 .parallax__layer--base {
    margin-top: -1px;
}

}

#group3 {
    z-index: 4;
    /* slide over group 2 and 4 */
}

#group3 .parallax__layer--base {
    background: #31165c;
}

#group4 {
    z-index: 2;
    /* slide under group 3 and 5 */
}

#group4 .parallax__layer--back {
    
}

#group5 {
    z-index: 3;
    /* slide over group 4 and 6 */
}

#group5 .parallax__layer--base {
    background: #6a27c2;
}

#group6 {
    z-index: 2;
    /* slide under group 5 and 7 */
}

#group6 .parallax__layer--back {
    background: #181663;
}

#group7 {
    z-index: 3;
    height: 600px;
    /* slide over group 7 */
}

#group7 .parallax__layer--base {
    background: #bf21db;
}


/* style the groups

  #group1 {
    z-index: 5;
  }
  #group1 .parallax__layer--base {
    background: rgb(102,204,102);
  }

  #group2 {
    z-index: 3; 
  }
  #group2 .parallax__layer--back {
    background: rgb(123,210,102);
  }

  #group3 {
    z-index: 4; 
  }
  #group3 .parallax__layer--base {
    background: rgb(153,216,101);
  }

  #group4 {
    z-index: 2; 
  }
  #group4 .parallax__layer--deep {
    background: rgb(184,223,101);
  }

  #group5 {
    z-index: 3; 
  }
  #group5 .parallax__layer--base {
    background: rgb(214,229,100);
  }

  #group6 {
    z-index: 2; 
  }
  #group6 .parallax__layer--back {
    background: rgb(245,235,100);
  }

  #group7 {
    z-index: 3;
  }
  #group7 .parallax__layer--base {
    background: rgb(255,241,100);
  }
*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.scene {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 50vh;
}

.scene-layer {
    position: absolute;
    height: 100%;
}




@keyframes sway {
    0% {
        transform: translate3d(15%, 0, 0) rotateZ(10deg);
    }
    to {
        transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
    }
}

@keyframes wave {
    0% {
        transform: rotateZ(0deg) translate3d(0, 2%, 0) rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg) translate3d(0, 2%, 0) rotateZ(-360deg);
    }
}
